<main class="main-with-widgets">

  <article class="side main-flex">

    <section class="card-w-full" *ngIf="authors.length > 0">
      <div class="card-header">
        <h1 class="p-card-white">Author{{ (authors.length>1) ? 's' : '' }}</h1>
      </div>
      <div class="card-body flex-col padding-05em" *ngFor="let author of authors">
        <img *ngIf="author.imageUrl != ''" class="author-image" [src]="author.imageUrl" alt="image of author">
        <img *ngIf="author.imageUrl == ''" class="author-image" src="assets/image/user-profile-without-image.jpg" alt="image of book">
        <h2 class="p-card">{{ author.completeName }}</h2>
        <button mat-raised-button color="primary" [routerLink]="'/author/page/' + author.id">
          <p class="p-card flex-center">See more <mat-icon>navigate_next</mat-icon></p>
        </button>
      </div>
    </section>


    <section class="card-w-full" *ngIf="slidesForSaga.length > 0 && slidesForSaga != undefined">
      <div class="card-header">
        <h1 class="p-card-white">Other books from saga</h1>
      </div>
      <div class="card-body flex-col padding-05em">
        <owl-carousel-o [options]="customOptions" class="w-full flex-center">
          <ng-template carouselSlide *ngFor="let slide of slidesForSaga">
            <div class="slide" [id]="slide.id" style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center;">
              <img [src]="slide.img" style="height: 200px; width: auto;">
              <button mat-button color="primary" style="margin-top: 2%; width: 100%;" [routerLink]="'/book/'+ slide.idBook">
                <span style="display:flex; align-items: center; justify-content: center;">See More <mat-icon>chevron_right</mat-icon></span>
              </button>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </section>

  </article>

  <article class="article main-flex" *ngIf="book">
    <div class="card-w-full">
      <div class="card-header">
        <h1 class="title">{{ book?.name }}</h1>
      </div>
      <div class="card-body">
        <div class="flex-row">
          <div class="w-30">
            <img class="book-image" [src]="book?.imageUrl" alt="image of book">
            <br> <hr>
            <button mat-raised-button color="primary" *ngIf="book.description.length > 750" class="w-full" [routerLink]="'/add-book-list/' + book.id">
              <p class="p-card flex-center">Add to my list &nbsp;<mat-icon *ngIf="hidden">library_add</mat-icon></p>
            </button>
            <br> <hr>
            <div class="flex-center flex-col" *ngIf="score !== 0">
              <h2 class="subtitle w-full flex-center">Rating</h2>
              <div class="w-full flex-col flex-center">
                <ngx-stars [readonly]="true" [size]="2" [maxStars]="5" [initialStars]="this.score"></ngx-stars>
                <span class="p-card-small">Rating is {{score}} out of 5</span>
              </div>
            </div>
            <div class="flex-center flex-col" *ngIf="score === 0">
              <h2 class="subtitle w-full flex-center">Rating</h2>
              <div class="w-full flex-col flex-center">
                <ngx-stars [readonly]="true" [size]="2" [maxStars]="5" [initialStars]="0"></ngx-stars>
                <span class="p-card-small">No one has rated this book yet</span>
              </div>
            </div>
          </div>
          <div class="w-70">
            <div class="flex-center flex-col">
              <br>
              <h2 class="subtitle flex-center">Synopsis</h2>

              <p class="p-card-small">{{this.synopsis[0]}}...</p>

              <div [class]="(hidden) ? 'hide' : 'show'">
                <p class="p-card-small">{{synopsis[1]}}</p>
              </div>

              <button mat-raised-button color="primary" *ngIf="book.description.length > 750" class="w-full"  (click)="hidden = !hidden">
                  <p class="p-card flex-center">Read {{(hidden) ? 'more' : 'less'}}
                    <mat-icon *ngIf="hidden">expand_more</mat-icon>
                    <mat-icon *ngIf="!hidden">expand_less</mat-icon>
                  </p>
              </button>
            </div>
            <br> <hr> <br>
            <div>
              <h2 class="subtitle flex-center">More info</h2>
              <ul>
                <li class="p-card-small">Pages: {{ book?.pages }}</li>
                <li class="p-card-small">ISBN: {{ book?.isbn }}</li>
                <li class="p-card-small">Publisher: {{ book?.publisher }}</li>
                <li class="p-card-small">Publish Date: {{ book?.publishDate | date: 'fullDate' }}</li>
              </ul>
            </div>
            <br> <hr> <br>
            <div>
              <h2 class="subtitle flex-center">Comments</h2>
              <p class="p-card-small">comentario :3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>