
/*
* Colors
*/
$primary-color: #1565c0;
$primary-color-hover:  #1359aa;

$secondary-color: #42a5f5;
$secondary-color-hover: #388bd0;

$accent-color: #ff8f00;
$accent-color-hover: rgb(211, 127, 2);

$warn-color: #ba000d;
$warn-color-hover: #9d010b;

$background-color: rgba(211, 211, 211, 0.494);

$text-color: #fff;

$label-color: #b8b8b8;

$background-card: rgb(243, 243, 243);


/*
* Size
*/
$header-height: 10vh;


/*
* Font Size
*/

$font-size-p: calc(0.75em + 1vmin);

$font-size-h1: calc(2.5em + 2vmin);
$font-size-h2: calc(2em + 2vmin);
$font-size-h3: calc(1.7em + 1vmin);
$font-size-h4: calc(1.3em + 1vmin);

/*
* Box shadow
*/

$box-shadow-card: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$box-shadow-header: rgba(0, 0, 0, 0.2) 0 1.95px 2.6px;

/*
* Borders
*/

$border-size: 1px solid rgba(121, 121, 121, 0.6);
$border-radius: 3px;