<main class="main-with-widgets main-start">

  <form action="#" class="main-with-widgets main-start w-full" [formGroup]="bookForm">
  <article class="side-xl">
    <app-select-author style="width: 96%"></app-select-author>
    <app-select-genre style="width: 96%"></app-select-genre>
    <app-select-saga style="width: 96%"></app-select-saga>
  </article>

  <article class="article-md">
    <div class="card-w-full">
      <div class="card-header">
        <h1 class="title">Add Book</h1>
      </div>
      <div class="card-body margin-05em" style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between">
        <div class="form-two-cols">
          <div class="col-left flex-start h-full">
            <div class="flex-start flex-col margin-05em" style="height: 100%; width: 100%;" *ngIf="bookApproval">
              <h2 class="subtitle w-full flex-center">General Data</h2>
              <hr class="w-full">
              <p class="p-card-small no-margins"><strong>Authors Name: </strong>{{bookApproval.authorName}}</p>
              <p class="p-card-small no-margins"><strong>Saga Name: </strong>{{bookApproval.sagaName}}</p>
              <p class="p-card-small no-margins"><strong>Notes: </strong>{{bookApproval.notes}}</p>
              <div>&nbsp;</div>
              <h2 class="subtitle w-full flex-center">References</h2>
              <hr class="w-full">
              <p class="p-card-small no-margins"><strong>References 1: </strong>{{bookApproval.references1}}</p>
              <p class="p-card-small no-margins"><strong>References 2: </strong>{{bookApproval.references2}}</p>
            </div>
          </div>
          <div class="col-right">
            <h2 class="subtitle hide-desktop">Form</h2>
            <hr class="w-full hide-desktop">
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label for="name">Name</mat-label>
              <input matInput id="name" name="name" type="text" alt="input for name" formControlName="name" required>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label for="pages">Pages</mat-label>
              <input matInput id="pages" name="pages" type="number" alt="input for pages" formControlName="pages" required>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label for="publisher">Publisher</mat-label>
              <input matInput id="publisher" name="publisher" type="text" alt="input for publisher" formControlName="publisher" required>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-form-field" style="width: 90%;">
              <mat-label for="publishDate">Publish Date</mat-label>
              <input matInput [matDatepicker]="datepicker" id="publishDate" name="publishDate" alt="input for publishDate" formControlName="publishDate" required>
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label for="isbn">ISBN</mat-label>
              <input matInput id="isbn" name="isbn" type="text" alt="input for isbn" formControlName="isbn" required>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label for="imageUrl">Image URL</mat-label>
              <input matInput id="imageUrl" name="imageUrl" type="text" alt="input for imageUrl" formControlName="imageUrl" required>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label>Synopsis</mat-label>
              <textarea rows=6 matInput id="description" name="description" lt="input for description" formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-actions">
        <button mat-raised-button style="width: 40%" [disabled]="!bookForm.valid" color="warn" (click)="declineBook()">
          <p class="p-card-white flex-center"><mat-icon>delete</mat-icon>&nbsp; Decline Book</p>
        </button>
        <button mat-raised-button style="width: 40%" [disabled]="!bookForm.valid" color="accent" (click)="saveBook()">
          <p class="p-card-white flex-center"><mat-icon>add_circle_outline</mat-icon>&nbsp; Add Book</p>
        </button>
      </div>
    </div>
  </article>
  </form>
</main>