@mixin main {
    height: calc(99vh - #{$header-height});
}

@mixin card {

    background-color: $background-card;
    box-shadow: $box-shadow-card;

    .card-header {
        background-color: $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-body {
        display: flex;
        justify-content: center;
    }

    .card-footer {

    }

    .card-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 2vh;
    }
}

@mixin form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2% 0;
}

@mixin button {
    position: relative;
    width: 70%;
    height: 10%;
    border-width: 0;
    outline: none;
    border-radius: $border-radius;
    box-shadow: $box-shadow-card;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $font-size-p;
    font-weight: bold;

    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

}