<div class="card-w-full" style="width: 100%;">
  <div class="card-header">
    <p class="p-card-white">Search an Book</p>
  </div>
  <div class="flex-center">
    <mat-form-field class="material-input" style="width: 90%; margin-top: 5%;" appearance="outline">
      <mat-label>Search a book</mat-label>
      <input type="text"
            id ="search-book"
            [formControl]="bookControl"
            matInput
            [matAutocomplete]="auto" (keyup.enter)="navigateAlternative()">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.id" (click) ="navigate(option.id)" (selectionChange)="navigate(option.id)">
            {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
