<mat-toolbar color="primary" class="flex-between header">
  <div class="header-left flex-row flex-center">
    <button mat-icon-button color="basic" [matMenuTriggerFor]="main_menu">
      <mat-icon (click)="this.sideNav = !this.sideNav" src="../../../assets/image/icons/closed_menu.png" alt="icon for menu closed">menu</mat-icon>
    </button>
    <span class="no-margins" routerLink="/" style="cursor: pointer; bottom: 0;"><img src="../../../assets/image/logo.png" alt="" style="width:auto; height:50px;"></span>
  </div>

  <span class="spacer"></span>

  <div class="header-right">
    <div *ngIf="id != ''">
      <button mat-raised-button color="accent">
        <h1 class="p-card-white">
          <span routerLink="/sign-up" class="flex-center">
            <mat-icon>person_add</mat-icon>&nbsp; Sign Up
          </span>
        </h1>
      </button>
      <span>&nbsp;&nbsp;</span>
      <button mat-raised-button color="accent" *ngIf="id != ''">
        <h1 class="p-card-white">
          <span routerLink="/sign-in" class="flex-center">
            <mat-icon>login</mat-icon>&nbsp; Sign In Now
          </span>
        </h1>
      </button>
    </div>
    <div>
      <button mat-raised-button color="accent" *ngIf="role === 'USER'">
        <h1 class="p-card-white">
          <span [routerLink]="'/user/'+id+'/list'" class="flex-center">
            <mat-icon>format_list_bulleted</mat-icon>&nbsp; See MyBookList
          </span>
        </h1>
      </button>
      <button mat-raised-button color="accent" routerLink="/author/menu" *ngIf="role === 'AUTHOR'">
        <h1 class="p-card-white">
          <span class="flex-center">
            <mat-icon>admin_panel_setting</mat-icon>&nbsp; Control Panel
          </span>
        </h1>
      </button>
      <button mat-raised-button color="accent" routerLink="/admin/menu" *ngIf="role === 'ADMIN'">
        <h1 class="p-card-white">
          <span class="flex-center">
            <mat-icon>admin_panel_settings</mat-icon>&nbsp; Control Panel
          </span>
        </h1>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #main_menu="matMenu">
  <div>
    <button mat-menu-item routerLink="/book-list">
      <mat-icon>format_list_bulleted</mat-icon>
      <span>All Book List</span>
    </button>
    <button mat-menu-item routerLink="/add-book" *ngIf="role !== ''">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Suggest A Book</span>
    </button>
  </div>
  <div class="down">
    <br>
    <button mat-menu-item routerLink="/me" *ngIf="role === 'USER'">
      <mat-icon>person</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item routerLink="/admin/menu" *ngIf="role === 'ADMIN'">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Control Panel</span>
    </button>
    <button mat-menu-item routerLink="/author/menu" *ngIf="role === 'AUTHOR'">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Control Panel</span>
    </button>
    <button mat-menu-item routerLink="'/user/'+id+'/list'" *ngIf="role === 'USER'">
      <mat-icon>format_list_bulleted</mat-icon>
      <span>See MyBookList</span>
    </button>
    <button mat-menu-item routerLink="'/author/page/'+id" *ngIf="role === 'AUTHOR'">
      <mat-icon>contact_page</mat-icon>
      <span>See My Public Page</span>
    </button>
    <button mat-menu-item routerLink="/sign-up" *ngIf="role == ''">
      <mat-icon>person_add</mat-icon>
      <span>Sign Up</span>
    </button>
    <button mat-menu-item routerLink="/sign-in" *ngIf="role == ''">
      <mat-icon>login</mat-icon>
      <span>Sign In</span>
    </button>
    <button mat-menu-item (click)="signOut()" *ngIf="id">
      <mat-icon>logout</mat-icon>
      <span>Sign Out</span>
    </button>
  </div>
</mat-menu>

<button mat-mini-fab color="primary" class="float-button" aria-label="Example icon button with a home icon" (click)="navigateBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
