<header class="header">
  <div class="header-left">
    <img class="icon-header" (click)="this.sideNav = !this.sideNav" src="../../../assets/image/icons/closed_menu.png" alt="icon for menu closed">
    <img class="logo" src="../../../assets/image/logo.png" alt="logo" routerLink="">
  </div>

  <span class="spacer"></span>

  <div class="header-right">
    <button class="button-invisible" routerLink="/sign-in">Login now!</button>
  </div>
</header>
<nav [class]="(sideNav) ? 'side-nav' : 'hide'" >
  <a href="#" (click)="this.sideNav = !this.sideNav">About</a>
  <a href="#" (click)="this.sideNav = !this.sideNav">Services</a>
  <a href="#" (click)="this.sideNav = !this.sideNav">Clients</a>
  <a href="#" (click)="this.sideNav = !this.sideNav">Contact</a>
  <img src="../../../assets/image/icons/close.png" class="close-button" (click)="this.sideNav = !this.sideNav"/>
</nav>