<main class = "main-flex main-center">
  <div class="card-md">
    <div class="card-header">
      <h1 class="title">Sign In</h1>
    </div>
    <div class="card-body">
      <form action="#" class="form-two-cols" [formGroup] = "signInForm">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label for="username">Username</mat-label>
          <input matInput id="username" name="username" type="text" alt="input for username" formControlName="username" required>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label for="password">Password</mat-label>
          <input matInput id="password" name="password" [type]="(visibilityPassword) ? 'text': 'password'" alt="input for password" formControlName="password" required>
          <button matSuffix mat-icon-button (click)="visibilityPassword=!visibilityPassword">
            <mat-icon>{{(visibilityPassword) ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </form>
    </div>
    <br class="border-bottom">
    <div class="card-actions">
      <button  mat-raised-button style="width: 50%" [disabled]="!signInForm.valid" (click)="signIn()" color="accent">
        <p class="p-card-white flex-center">
          <mat-icon>login</mat-icon>&nbsp; Sign In
        </p>
      </button>
    </div>
  </div>
</main>