
.title {
    font-size: $font-size-h3;
    margin: 4px;
    color: $text-color;
}

.subtitle {
    font-size: $font-size-h4;
    margin: 2px;
}

.p-card {
    font-size: $font-size-p;
    margin: .3rem;
    padding: 0;
}

.p-card-white {
    @extend .p-card;
    color: white;
}

.p-card-small {
    font-size: calc(#{$font-size-p} - 0.25em);

}

.form-error {
    font-size: calc(#{$font-size-p} - 0.35em);
    color: $warn-color;
    margin: 5px 0 0 15px;
    padding: 0;
}