.button {
    @include button;

    background-color: $accent-color;

    width: 30%;
    padding: 1vh;
    border: $border-size;
    color: white;

    &:hover{
        background-color: $accent-color-hover;
    }
}

.button-w-full {
    @extend .button;

    width: 90%;
    margin-bottom: 5%;
}

.button-w-50 {
    @extend .button;

    width: 60%;
    margin-bottom: 5%;
}

.button-w-30 {
    @extend .button;

    width: 30%;
}

.button-disabled {
    @extend .button;

    background-color: $label-color;

    cursor: not-allowed;

    &:hover {
        background-color: $label-color;
    }
}

.button-invisible {
    @include button;

    background-color: rgba(255, 255, 255, 0.1);

    width: 150px;
    height: 60%;
    padding: 1vh;
    border: $border-size;
    color: white;
    margin-right: 5%;
    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}


.button-warn {
    @include button;
    width: 25%;
    padding: 1vh;
    border: $border-size;
    color: white;

    background-color: $warn-color;
    &:hover {
        background-color: $warn-color-hover;
    }
}

.float-button {
    position: sticky;

    border-radius: 100%;
    padding: 0;

    z-index: 1;
    left: 1%;
    top: 1%;

}

.button-round {
    @extend .button;

    margin: 2px;
    border-radius: 100%;
    padding: 0;
    width: fit-content;
    height: fit-content;

    img {
        width: 30px;
    }
}

.button-round-accept {
    @extend .button-round;

    background-color: rgb(55, 150, 55);
    &:hover {
        background-color: rgb(47, 136, 47);
    }
}

.button-round-deny {
    @extend .button-round;

    background-color: $warn-color;
    &:hover {
        background-color: $warn-color-hover;
    }
}


.list-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 1em 0;
}