%label-movement {
    font-size: 0.85em;
    color: #454555;
    top: -2.25rem;
    transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
  }

  .styled-input {
    margin: 1rem 1rem;
    position: relative;

    label {
      color: rgb(138, 138, 138);
      padding: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
      pointer-events: none;
    }

    input, textarea {
      padding: 1rem 1rem;
      border: 0;
      width: 20rem;
      font-size: 1rem;
      ~ span {
        display: block;
        height: 3px;
        background: #454555;
        position: absolute;
        left: 0;
        transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
      }
    }

    input:focus, textarea:focus,  {
      outline: 0;

        ~ label {
        @extend %label-movement;
      }

      ~ span {
        width: 20rem + 2.3rem;
        transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
      }
    }

    input:valid ~ label, textarea:valid ~ label {
      @extend %label-movement;
      ~ span {
        width: 20rem + 2rem;
        transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
      }
    }
  }

.ng-invalid:not(form) {
    border-left: 0.3rem solid rgba(208, 0, 0, 0.535);
}

.ng-valid[required], .ng-valid.required  {
    border-left: 0.3em solid #42A948;
}



.styled-select {
    margin: 1rem 1rem;
    position: relative;


    label {
      color: rgb(138, 138, 138);
      padding: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
      pointer-events: none;
    }

    select {
      padding: 1rem 1rem;
      outline: none !important;
      border: none;
      width: 22rem;
      box-shadow: none!important;
      outline-offset: -2px;
      appearance: none;
      background: url('../../image/icons/expand_more.png') no-repeat right rgb(255, 255, 255);


      font-size: 1rem;
      ~ span {
        display: block;
        height: 3px;
        background: #454555;
        position: absolute;
        left: 0;
        transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
      }
    }

    select:hover, select::selection {
        box-shadow: 0 0 10px 100px #fff inset;
        outline: none !important;
        border: none;
        outline-offset: -2px;
    }

    select:focus {
        outline: none !important;
        border: none;
        box-shadow: none !important;
        outline-offset: -2px;
        background: url('../../image/icons/expand_less.png') no-repeat right rgb(255, 255, 255);

        ~ label {
        @extend %label-movement;
      }

      ~ span {
        width: 20rem + 2.3rem;
        transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
      }
    }

    select:valid ~ label {
      @extend %label-movement;
      ~ span {
        width: 20rem + 2rem;
        transition: all 0.525s cubic-bezier(0.2, 0, 0.03, 1);
      }
    }
}