.side-nav {
    height: calc(92vh - #{$header-height}); /* 100% Full-height */
    width: 23%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    left: 0;
    background-color: $secondary-color; /* Black*/
    padding-top: 5%; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: $border-size;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $text-color;
        display: block;
        transition: 0.4s ease-in-out;
    }

    a:hover {
        background: $secondary-color-hover;

    }

    .down {
        margin-bottom: 10%;
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 2%;
        cursor: pointer;
        width: 24pt;
    }
}
