<main class = "main-flex main-center">
  <div class="card-xl">
    <div class="card-header">
      <h1 class="title">Last step to finalize the sign up!</h1>
    </div>
    <div class="card-body">
      <div style="text-align: center;">
        <p class="p-card">Your account has been created successfully. </p>
        <p class="p-card"> Check your email to finish the registration by activating your account. </p>
      </div>
    </div>
    <br>
    <div class="w-full border-bottom"></div>
    <br>
    <div class="card-actions">
      <button mat-raised-button style="width: 40%" routerLink="/sign-in" color="accent">
        <p class="p-card-white flex-center"><mat-icon>login</mat-icon>&nbsp; Sign In</p>
      </button>
      <button mat-raised-button style="width: 40%" color="warn">
        <p class="p-card-white flex-center"><mat-icon>cancel_presentation</mat-icon>&nbsp; Close Window</p>
      </button>
    </div>
  </div>
</main>