.main-flex {
    @include main;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.main-grid {
    @include main;
    display: grid;
    grid-template-areas: "sidebar article article";

    .side {
        grid-area: sidebar;
    }

    .article {
        grid-area: article;
    }
}