<div class="card-w-full">
  <div class="card-header">
    <p class="p-card-white">Search a Saga</p>
  </div>
  <div class="flex-center">
    <mat-form-field class="material-input" style="width: 90%; margin-top: 5%;" appearance="outline">
      <mat-label>Search a saga</mat-label>
      <input type="text"
            [formControl]="sagaControl"
            matInput
            [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option">
            {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
