<main class="main-flex flex-center">

  <div class="card-md">
    <div class="card-header">
      <h2 class="title">Menu</h2>
    </div>
    <div class="card-body list-buttons">
        <button mat-raised-button color="accent" style="width: 90%; margin: 2%;" routerLink="/admin/register"><h1 class="p-card-white">Register a new author/admin</h1></button>
        <button mat-raised-button color="accent" style="width: 90%; margin: 2%;" routerLink="/admin/add-book"><h1 class="p-card-white">Add new book manually</h1></button>
        <button mat-raised-button color="accent" style="width: 90%; margin: 2%;" routerLink="/admin/add-books"><h1 class="p-card-white">Add a book list from a file</h1></button>
        <button mat-raised-button color="accent" style="width: 90%; margin: 2%;" routerLink="/admin/pending-books"><h1 class="p-card-white">See pending books</h1></button>
        <button mat-raised-button color="accent" style="width: 90%; margin: 2%;" routerLink="/admin/list-saga"><h1 class="p-card-white">Go to List of sagas</h1></button>
        <button mat-raised-button color="accent" style="width: 90%; margin: 2%;" routerLink="/admin/add-saga"><h1 class="p-card-white">Add a new Saga</h1></button>
        <button mat-raised-button color="accent" style="width: 90%; margin: 2%;" routerLink="/admin/stats"><h1 class="p-card-white">Go to Statistics</h1></button>
        <button mat-raised-button color="accent" style="width: 90%; margin: 2%;" routerLink=""><h1 class="p-card-white">Go to Home Page</h1></button>
        <br><br>
        <button  mat-raised-button color="warn" style="width: 60%; margin: 2%;">Sign Out</button>
    </div>
  </div>
</main>