<main class="main-with-widgets flex-start height-none">

  <article class="side-xl">
    <div class="card-w-full">
      <div class="card-header">
        <p class="p-card-white">Example files</p>
      </div>
      <div class="card-body flex-col w-full">
        <h2 class="p-card"> Downloads </h2>
        <div class="w-full flex-start flex-col">
          <a class="p-card-smaall margin-05em" href="">JSON File example</a>
          <a class="p-card-smaall margin-05em" href="">XML File example</a>
          <a class="p-card-smaall margin-05em" href="">YAML File example</a>
        </div>
        <br>
      </div>
    </div>
    <app-select-author *ngIf="!authorId" style="width:96%"></app-select-author>
    <app-select-genre style="width:96%"></app-select-genre>
    <app-select-saga style="width:96%"></app-select-saga>
  </article>

  <article class="article-md">
    <div class="card-w-full">
      <div class="card-header">
        <h2 class="title">Upload file</h2>
      </div>
      <div class="card-body flex-col">
        <ngx-dropzone (change)="onSelect($event)" class="styled-file">
          <ngx-dropzone-label class="file">
            <p class="p-card"> Drag your files here or click in this area. </p>
          </ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="card-actions">
        <button mat-raised-button style="width: 70%" [disabled]="files.length == 0" color="accent" (click)="UploadFiles()">
          <p class="p-card-white flex-center"><mat-icon>file_upload</mat-icon>&nbsp; Add Books</p>
        </button>
      </div>
    </div>
  </article>

</main>