<main class = "main-center main-flex">
  <div class="card-xl">
    <div class="card-header">
      <h1 class="title">Sign Up</h1>
    </div>
    <div class="card-body">
      <form action="#" class="form-two-cols" [formGroup] = "signUpForm">
        <div class="col-left">
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label for="name">Name</mat-label>
            <input matInput id="name" name="name" type="text" alt="input for name" formControlName="name" required>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label for="surname">Surname</mat-label>
            <input matInput id="surname" name="surname" type="text" alt="input for surname" formControlName="surname" required>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label for="age">Age</mat-label>
            <input matInput id="age" name="age" type="number" alt="input for age" formControlName="age" required>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label for="gender">Gender</mat-label>
            <mat-select id="gender" name="gender" alt="select for gender" formControlName="gender" required>
              <mat-option></mat-option>
              <mat-option value="FEMALE">Female</mat-option>
              <mat-option value="MALE">Male</mat-option>
              <mat-option value="NONE">Prefer not to say</mat-option>
            </mat-select>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-right">
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label for="email">Email</mat-label>
            <input matInput id="email" name="email" type="email" alt="input for email" formControlName="email" required>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label for="username">Username</mat-label>
            <input matInput id="username" name="username" type="text" alt="input for username" formControlName="username" required>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label for="password">Password</mat-label>
            <input matInput id="password" name="password" [type]="(visibilityPassword) ? 'text': 'password'" alt="input for password" formControlName="password" required>
            <button matSuffix mat-icon-button (click)="visibilityPassword=!visibilityPassword">
              <mat-icon>{{(visibilityPassword) ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label for="confirm_password">Confirm Password</mat-label>
            <input matInput id="confirm_password" name="confirm_password" [type]="(visibilityRepeatPassword) ? 'text': 'password'" alt="input for repeat password" formControlName="confirm_password" required>
            <button matSuffix mat-icon-button (click)="visibilityRepeatPassword=!visibilityRepeatPassword">
              <mat-icon>{{(visibilityRepeatPassword) ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="card-actions">
      <button mat-raised-button style="width: 50%" [disabled]="!signUpForm.valid" (click)="signUp()" color="accent">
        <p class="p-card-white">Sign Up!</p>
      </button>
    </div>
  </div>
</main>