.header {
    background-color: $primary-color;
    width: 100%;
    height: $header-height;
    //box-shadow: $box-shadow-header;
    border-bottom: $border-size;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

        font-size: $font-size-h3;
    }

    .spacer {
        flex-grow: 1;
    }

    .header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin-right: 2%;

        font-size: $font-size-p;
    }
}