@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// Variables
@import 'assets/SCSS/abstracts/variables';

/*
* Base
*/
@import 'assets/SCSS/base/reset';
@import 'assets/SCSS/base/typography';
@import 'assets/SCSS/abstracts/utils';

/*
* Abstracts
*/
@import 'assets/SCSS/abstracts/functions';
@import 'assets/SCSS/abstracts/mixins';

/*
* Components Import
*/
@import 'assets/SCSS/components/buttons';
@import 'assets/SCSS/components/cards';
@import 'assets/SCSS/components/inputs';
@import 'assets/SCSS/layout/form';
@import 'assets/SCSS/components/sidenav';
@import 'assets/SCSS/components/images';
@import 'assets/SCSS/components/table';
@import 'assets/SCSS/components/snackbar';
/*
* Layouts Imports
*/
@import 'assets/SCSS/layout/header';
@import 'assets/SCSS/layout/navbar';
@import 'assets/SCSS/layout/main';
@import 'assets/SCSS/layout/flex';

/*
* Pages
*/
@import 'assets/SCSS/pages/home';


html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #5c5c5c21;
}

